@media (max-width: 768px) {
    .nav {
        // background-color: $color-green-light;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        &__list{
            width: 100%;
            display: none;
            flex-direction: column;
            &--item:not(:nth-child(6)){
                display: block;
                padding: 0.5rem 0;
            }
        }

       &__list-1{
        display: block;
        transition: all .9s ease-in;
        &--item:not(:nth-child(6)){
            display: block;
            padding: 0.5rem 0;
        }
    }
    
    }
    .menu{
        display: block;
        position: fixed;
        height: 2rem;
        width: 3rem;
        top: 2%;
        left: 80%;
        cursor: pointer;
        z-index: 100;
        &__lines{
            display: block;
            background-color: $color-green-light;;
            height: 0.2rem;
            margin-top: 0.3rem;
            cursor: pointer;


        }
    }

    .link{
        color: $color-white;
    }
    
}