.contact {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(153, 204, 0, 0.4)), to(rgba(0, 0, 0, 0.3))), url("../assets/island-beach-img.jpg");
  background-image: linear-gradient(to right, rgba(153, 204, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../assets/island-beach-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-heading {
  text-align: center;
  letter-spacing: .3rem;
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.contact .form {
  width: 50rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem 0;
  border-radius: 1rem;
}

.contact .form .form-group {
  position: relative;
  margin: 1rem 0;
}

.contact .form .form-group .name-label {
  position: absolute;
  display: block;
  margin: .3rem 0;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  inset: -.5rem .5rem;
}

.contact .form .form-group .form-control {
  width: 40rem;
  padding: 2rem .3rem;
  border: none;
  font-family: 'Stint Ultra Condensed', cursive;
  letter-spacing: .2rem;
  background-color: #eee;
}

.contact .form .form-group .form-control:focus {
  outline: none;
}

.contact .form .form-group .contact-cta {
  background-color: #39eb39;
  padding: 1.5rem 0;
  cursor: pointer;
  -webkit-transition: background-color 2s color 2s ease-in;
  transition: background-color 2s color 2s ease-in;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: 1.6rem;
  color: #fff;
}

.contact .form .form-group .contact-cta:hover {
  background-color: #32ac32;
  color: coral;
}

.contact .form .form-group .message-text {
  resize: none;
}

.contact .form .form-group .remember-me {
  color: #000;
  letter-spacing: .2rem;
  font-size: 1.6rem;
  text-align: center;
}

.contact .form .form-group .social-icons span {
  display: block;
  margin: 0 1rem;
  padding: 1rem 0;
}

.contact .form .form-group .social-icons span:nth-child(1) {
  color: #4747f0;
}

.contact .form .form-group .social-icons span:nth-child(2) {
  color: #47c9f0;
}

footer {
  border-top: 0.2rem #90ee90 solid;
}

footer .copyrights {
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.4rem;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  font-family: 'Stint Ultra Condensed', cursive;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: relative;
  width: 100%;
  height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.2))), url(/assets/nature.jpg) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(/assets/nature.jpg) center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-perspective: 150rem;
          perspective: 150rem;
}

@media (max-width: 768px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header .header-text .heading {
  font-size: 5rem;
  padding-bottom: .5rem;
  font-family: 'Cinzel Decorative', cursive;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #fff;
  font-weight: 100;
  text-align: center;
}

@media (max-width: 768px) {
  .header .header-text .heading {
    font-size: 1.5rem;
    margin-top: 13rem;
  }
}

.header .header-text .header-paragraph {
  font-family: 'Big Shoulders Display', cursive;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  letter-spacing: .2rem;
  text-align: center;
  max-width: 60rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .header .header-text .header-paragraph {
    max-width: 57rem;
    padding: 0 1rem;
  }
  .header .header-text .header-paragraph .readmore {
    display: block;
    background-color: #fff;
    border-radius: 10rem;
    margin-top: 2rem;
    color: #000 !important;
    font-weight: 700;
    text-transform: capitalize;
    -webkit-transition: letter-spacing .2s ease-in;
    transition: letter-spacing .2s ease-in;
  }
  .header .header-text .header-paragraph .readmore:hover {
    letter-spacing: .5rem;
  }
}

.header .header-text .header-paragraph .readmore {
  color: #90ee90;
}

.header .header-img {
  width: 40rem;
  -webkit-animation: ballon-movement 100s .5s infinite;
          animation: ballon-movement 100s .5s infinite;
  z-index: -10;
}

.header .icons {
  position: absolute;
  top: 3rem;
  right: 2rem;
}

.header .icons .icons-letters {
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .icons .icons-letters .center {
  background-color: #fff;
  font-family: 'Cinzel Decorative', cursive;
  width: 3rem;
  height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #000;
  margin: 0 .5rem;
  text-align: center;
  color: #90ee90;
}

.header .icons .icons-letters .center:nth-child(1) {
  background-color: #000;
  -webkit-animation: drop-letters 4s .1s infinite;
          animation: drop-letters 4s .1s infinite;
}

.header .icons .icons-letters .center:nth-child(2) {
  -webkit-animation: drop-letters 4s .3s infinite;
          animation: drop-letters 4s .3s infinite;
  background-color: yellow;
  color: #000;
}

.header .icons .icons-letters .center:nth-child(3) {
  -webkit-animation: drop-letters 4s .4s infinite;
          animation: drop-letters 4s .4s infinite;
  background-color: red;
  color: #fff;
}

.header .icons .icons-letters .center:nth-child(4) {
  -webkit-animation: drop-letters 4s .5s infinite;
          animation: drop-letters 4s .5s infinite;
  color: blue;
  background-color: purple;
}

.header .icons .icons-letters .center:nth-child(5) {
  -webkit-animation: drop-letters 4s .6s infinite;
          animation: drop-letters 4s .6s infinite;
  background-color: pink;
  color: salmon;
}

.header .icons .icons-letters .center:nth-child(6) {
  -webkit-animation: drop-letters 4s .7s infinite;
          animation: drop-letters 4s .7s infinite;
  background-color: orangered;
  color: seagreen;
}

.header .icons .icons-letters .center:nth-child(7) {
  -webkit-animation: drop-letters 4s .8s infinite;
          animation: drop-letters 4s .8s infinite;
}

@-webkit-keyframes drop-letters {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes drop-letters {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ballon-movement {
  0% {
    -webkit-transform: translateZ(40rem);
            transform: translateZ(40rem);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateZ(-500rem);
            transform: translateZ(-500rem);
    -webkit-transform: translateX(50rem);
            transform: translateX(50rem);
    opacity: .8;
  }
  70% {
    -webkit-transform: translateZ(-1500rem);
            transform: translateZ(-1500rem);
    opacity: .6;
  }
  80% {
    -webkit-transform: translateZ(-50rem);
            transform: translateZ(-50rem);
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
    opacity: .8;
  }
  100% {
    -webkit-transform: translateZ(40);
            transform: translateZ(40);
    opacity: 1;
  }
}

@keyframes ballon-movement {
  0% {
    -webkit-transform: translateZ(40rem);
            transform: translateZ(40rem);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateZ(-500rem);
            transform: translateZ(-500rem);
    -webkit-transform: translateX(50rem);
            transform: translateX(50rem);
    opacity: .8;
  }
  70% {
    -webkit-transform: translateZ(-1500rem);
            transform: translateZ(-1500rem);
    opacity: .6;
  }
  80% {
    -webkit-transform: translateZ(-50rem);
            transform: translateZ(-50rem);
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
    opacity: .8;
  }
  100% {
    -webkit-transform: translateZ(40);
            transform: translateZ(40);
    opacity: 1;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem;
  -webkit-box-shadow: 0 0 0.2rem #000;
          box-shadow: 0 0 0.2rem #000;
  width: 100%;
}

.nav__logo {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.nav__logo i {
  padding-right: .3rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list a {
  padding: 1rem;
  text-transform: uppercase;
}

a.link {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 2rem;
  color: #90ee90;
}

.testimonials {
  width: 95%;
  margin: 3rem auto;
}

.testimonials .testimonials-heading {
  padding: 1rem 0;
  text-align: center;
  letter-spacing: .2rem;
  font-family: 'Cinzel Decorative', cursive;
}

.testimonials .testimonials-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .testimonials-content .test {
  -webkit-box-shadow: 0 0 .8rem #fafafa;
          box-shadow: 0 0 .8rem #fafafa;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem .5rem;
  border-radius: .5rem;
}

.testimonials .testimonials-content .test .test-1 .test-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.testimonials .testimonials-content .test .test-2 {
  margin: 0 .5rem;
}

.testimonials .testimonials-content .test .test-2 .test-heading {
  letter-spacing: .2rem;
  padding-top: 1rem;
}

.testimonials .testimonials-content .test .test-2 .test-paragraph {
  font-size: 1.2rem;
  font-family: 'Cinzel Decorative', cursive;
}

.testimonials .testimonials-content .test .test-2 .test-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: .5rem;
}

.testimonials .testimonials-content .test .test-2 .test-img .images {
  display: block;
  width: 3rem;
  height: 3rem;
  top: -1rem;
  border-radius: 50%;
  position: absolute;
  left: 90%;
}

.testimonials .testimonials-content .test .test-2 .test-img .i-1 {
  left: 85%;
  z-index: 12;
}

.testimonials .testimonials-content .test .test-2 .test-img .i-2 {
  left: 80%;
  z-index: 11;
}

.testimonials .testimonials-content .test .test-2 .test-img .i-3 {
  left: 72%;
}

.testimonials .testimonials-content .test .test-2 .test-img .test-paragraph-2 {
  font-size: 1.2rem;
  letter-spacing: .2rem;
  font-family: 'Cinzel Decorative', cursive;
}

@media (max-width: 768px) {
  .nav {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: all .5s ease-in;
    -webkit-transition: -webkit-box-flex 5s;
    transition: -webkit-box-flex 5s;
    transition: flex 5s;
    transition: flex 5s, -webkit-box-flex 5s, -ms-flex 5s;
  }
  .nav__list {
    width: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__list--item:not(:nth-child(6)) {
    display: block;
    padding: 0.5rem 0;
  }
  .nav__list-1 {
    display: block;
  }
  .nav__list-1--item:not(:nth-child(6)) {
    display: block;
    padding: 0.5rem 0;
  }
  .menu {
    display: block;
    position: fixed;
    height: 2rem;
    width: 3rem;
    top: 2%;
    left: 80%;
    cursor: pointer;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
  }
  .menu__lines {
    display: block;
    background-color: #90ee90;
    height: 0.2rem;
    margin-top: 0.3rem;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .menu .responsive-lines:nth-child(1) {
    background-color: #000;
    -webkit-transform: rotate(-47deg);
            transform: rotate(-47deg);
    width: 2rem;
    height: .3rem;
    border-radius: 10rem;
  }
  .menu .responsive-lines:nth-child(2) {
    display: none;
  }
  .menu .responsive-lines:nth-child(3) {
    background-color: #000;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -.3rem;
    width: 2rem;
    height: .3rem;
    border-radius: 10rem;
  }
  .menu-click {
    margin-top: .6rem;
  }
  .link {
    color: #fff;
  }
  .card-wrapper .card {
    margin: 1rem 0;
  }
  .contact .contact-heading {
    margin-top: 1.5rem;
  }
  .contact .form {
    width: 20rem;
  }
  .contact .form .form-group .form-control {
    width: 30rem;
    border-radius: .5rem;
  }
  .testimonials-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stories {
  margin: 5rem 0;
  background: url("../assets/island-beach-img.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stories .story-title {
  text-align: center;
  padding-top: 3rem;
  font-family: 'Cinzel Decorative', cursive;
  color: #fff;
  letter-spacing: .2rem;
}

@media (max-width: 768px) {
  .stories .story-title {
    font-size: 1rem;
    font-weight: 100;
    margin-top: 1rem;
  }
}

.stories .story-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stories .story-wrapper .story-bg {
  background-color: rgba(214, 214, 214, 0.7);
  padding: 5rem;
  margin: 4rem;
  -webkit-transition: -webkit-transform 1.5s ease-in-out;
  transition: -webkit-transform 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
  -webkit-box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.5);
          box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.5);
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

@media (max-width: 768px) {
  .stories .story-wrapper .story-bg {
    width: 30rem;
    -webkit-transform: skew(0);
            transform: skew(0);
    border-radius: 4rem 0 4rem 0;
    -webkit-box-shadow: 0 0 0.7rem #000;
            box-shadow: 0 0 0.7rem #000;
  }
  .stories .story-wrapper .story-bg:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .stories .story-wrapper .story-bg .readmore {
    display: block;
    text-align: center;
    font-size: 1.4rem;
  }
}

.stories .story-wrapper .story-bg .story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

@media (max-width: 768px) {
  .stories .story-wrapper .story-bg .story {
    -webkit-transform: skew(0);
            transform: skew(0);
  }
}

.stories .story-wrapper .story-bg .story .story-img-content {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .stories .story-wrapper .story-bg .story .story-img-content {
    margin-top: -3rem;
  }
}

.stories .story-wrapper .story-bg .story .story-img-content .story-img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 768px) {
  .stories .story-wrapper .story-bg .story .story-img-content .story-img {
    display: block;
  }
}

.stories .story-wrapper .story-bg .story .story-text {
  margin: 0 1rem;
}

.stories .story-wrapper .story-bg .story .story-text .story-heading {
  font-family: 'Cinzel Decorative', cursive;
  color: #90ee90;
}

@media (max-width: 768px) {
  .stories .story-wrapper .story-bg .story .story-text .story-heading {
    font-size: 1.3rem;
    padding: 1rem 0;
  }
}

.stories .story-wrapper .story-bg .story .story-text .story-paragraph {
  font-family: 'Cinzel Decorative', cursive;
  max-width: 65rem;
  padding: 0.5rem 0;
  line-height: 1.7;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .stories .story-wrapper .story-bg .story .story-text .story-paragraph {
    font-size: 1rem;
  }
}

.tours {
  width: 90%;
  margin: 4rem auto;
}

.tour-text {
  text-align: center;
  padding-bottom: 3rem;
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: .2rem;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 25rem;
  position: relative;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -webkit-transition: -webkit-transform 1.5s ease-in-out;
  transition: -webkit-transform 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.front {
  text-align: center;
  background-color: #bbb;
  border-radius: .3rem;
  position: relative;
  z-index: 10;
  opacity: .8;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transform: transform 4s opacity 4s;
          transform: transform 4s opacity 4s;
}

.change > .front {
  -webkit-transform: translateZ(5rem);
          transform: translateZ(5rem);
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  -webkit-transform: translateX(3rem);
          transform: translateX(3rem);
  z-index: 0;
  opacity: .5;
}

.card-img {
  width: 100%;
  border-radius: .3rem .3rem 0 0;
}

.card-title {
  font-size: 1.6rem;
  letter-spacing: .2rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  right: 1.5rem;
  color: #fff;
  text-shadow: 0 0 1rem #000;
}

.card-list {
  width: 80%;
  margin: auto;
  padding: 1rem 0 3rem 0;
}

.items {
  font-size: 1.6rem;
  font-weight: 500;
  color: #eee;
  margin: 1rem 0;
  border-bottom: 0.1rem solid #90ee90;
  padding-bottom: 1rem;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #90ee90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .3rem;
  -webkit-box-shadow: 0 .5rem 1rem #bbb;
          box-shadow: 0 .5rem 1rem #bbb;
  -webkit-transform: translateZ(-5rem) translateX(3rem);
          transform: translateZ(-5rem) translateX(3rem);
  opacity: .5;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transform: transform 4s opacity 4s;
          transform: transform 4s opacity 4s;
}

.change > .back {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: .9;
}

.card-price {
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: 700;
  letter-spacing: .2rem;
}

.card-booking {
  border: none;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  border-radius: 10rem;
  background-color: #42c542;
  font-family: 'Cinzel Decorative', cursive;
  color: #fff;
  -webkit-transition: background-color 2s ease-in;
  transition: background-color 2s ease-in;
  cursor: pointer;
}

.card-booking:hover {
  background-color: #147c14;
}

.card-btn {
  position: absolute;
  top: .5rem;
  left: .5rem;
  border: none;
  padding: .5rem .7rem;
  border-radius: 10rem;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: .2rem;
  background-color: #89ecb4;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */